<div>
  <h1 class="display-1">Ya estás listo para la aventura!  {{user.email}}</h1>
  <p>Gracias por tu compra</p>
</div>
<hr>
<a href="/"><button type="button" class="btn btn-warning"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir al Inicio
</button></a>
