<h1 class="display-1" >Olvidaste tu contraseña?</h1>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <button type="submit" class="btn btn-secondary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Enviar link al correo
</button>
</form>
<hr>
<a href="/">
    <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Ir al Inicio
</button>
</a>