<div>
    <div>
        <h1 class="display-1" >Hola! Bienvenid@s al Parque Troquen</h1>
    </div>
<hr>
<p>Tienes cuenta? <a href="/login"><button type="button" class="btn btn-secondary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Entra aquí
</button></a></p>
<hr> 
<p>¿Usas Github? <a href="/api/sessions/github"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Entra con Github
</button></a></p>
<hr>
<p>¿Olvidaste tu contraseña? <a href="/forgot-password"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Haz clic aquí
</button></a></p>
<hr>
<p>¿No estás registrado? <a href="/register"><button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  Regístrate aquí
</button></a></p>
<hr>

</div>
