<h1 class="display-1">Login</h1>
{{message}}
<form method="post" action="/api/sessions/login">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <button type="submit"class="btn btn-warning"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Iniciar sesion</button>
</form>
<hr>
<p>¿Usas gihub? <a href="/api/sessions/github"><button class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"> Entra con GitHub</button></a></p>
<hr>
<p>¿Olvidaste tu contraseña? <a href="/forgot-password"><button class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Haz clic aquí</button></a></p>
<hr>
<p>¿No estás registrado? <a href="/register"><button class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Regístrate aquí</button></a></p>
<hr>

        