<h1 class="display-1">Registrate</h1>
<form method="post" action="/api/sessions/signup">
    <input type="text" placeholder="nombre" name="name"/>
    <br/><br/>
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <button type="submit"class="btn btn-secondary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">registrarse</button>
</form>
<hr>
<a href="/forgot-password">
    <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
     Reestablecer contraseña
    </button>
</a>
<hr>
<a href="/">
     <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
     Ir al Inicio
    </button>
</a>